#Dark-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(51, 48, 48) 0%, rgba(0, 0, 0, 0.510329131652661) 100%);
}

#Light-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 246, 246) 0%, rgba(195, 187, 187, 0.51) 100%);
}

.aside {
  text-align: center;
  border: 2px solid gray;
  margin: 20px;
  border-radius: 10px;
  width: 60%;
}
.aside h2 {
  font-size: 2rem;
}

.favoritesBooks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 5px 0;
}

.book_container {
  width: 200px;
  position: relative;
  opacity: 0.8;
}

.book_container-button {
  background-color: #ccc7c7;
  color: black;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.book_container-image {
  border: 1px solid blue;
  width: 180px;
  height: 280px;
  margin-top: 10px;
}

.book_container:hover {
  opacity: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aside {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .aside {
    width: 30%;
  }

  .favoritesBooks {
    justify-content: space-evenly;
  }

  .aside h2 {
    font-size: 3rem;
  }
}
